In [1]:
import pandas as pd
import sqlite3

df = pd.read_csv("ecommerce_cleaned.csv")
conn = sqlite3.connect(":memory:")
df.to_sql("orders", conn, index=False, if_exists="replace")

5000

In [2]:
query = """
SELECT customer_id,
       SUM(total_amount) AS total_spent
FROM orders
GROUP BY customer_id
HAVING total_spent >
       (SELECT AVG(total_amount) FROM orders);
"""
pd.read_sql(query, conn)

     customer_id  total_spent
0     CUST_00012      1090.15
1     CUST_00030      2497.83
2     CUST_00034      2028.13
3     CUST_00035      9406.46
4     CUST_00036      2424.48
...          ...          ...
1241  CUST_04988      3355.70
1242  CUST_04989      1229.60
1243  CUST_04995      3066.18
1244  CUST_04997      2660.67
1245  CUST_04999      6036.70

[1246 rows x 2 columns]

In [3]:
query = """
WITH customer_spend AS (
    SELECT customer_id,
           SUM(total_amount) AS total_spent
    FROM orders
    GROUP BY customer_id
)
SELECT *
FROM customer_spend
WHERE total_spent >
      (SELECT AVG(total_amount) FROM orders);
"""
pd.read_sql(query, conn)

     customer_id  total_spent
0     CUST_00012      1090.15
1     CUST_00030      2497.83
2     CUST_00034      2028.13
3     CUST_00035      9406.46
4     CUST_00036      2424.48
...          ...          ...
1241  CUST_04988      3355.70
1242  CUST_04989      1229.60
1243  CUST_04995      3066.18
1244  CUST_04997      2660.67
1245  CUST_04999      6036.70

[1246 rows x 2 columns]

### Key Insight
Subqueries and CTEs help break complex problems into simple steps.
They make SQL easier to read and reason about.