In [1]:
import pandas as pd
import sqlite3

df = pd.read_csv("ecommerce_cleaned.csv")
conn = sqlite3.connect(":memory:")
df.to_sql("orders", conn, index=False, if_exists="replace")

5000

In [2]:
pd.read_sql(
    "SELECT SUM(total_amount) AS total_revenue FROM orders;",
    conn
)

   total_revenue
0     4915544.57

In [3]:
pd.read_sql(
    "SELECT product_category, SUM(total_amount) AS revenue FROM orders GROUP BY product_category;",
    conn
)

  product_category     revenue
0           Beauty   156584.74
1            Books    72744.52
2      Electronics  2328806.81
3          Fashion   375214.93
4             Food    96138.67
5    Home & Garden   908348.86
6           Sports   754563.56
7             Toys   223142.48

In [4]:
pd.read_sql(
    "SELECT customer_id, SUM(total_amount) AS total_spent FROM orders GROUP BY customer_id ORDER BY total_spent DESC LIMIT 5;",
    conn
)

  customer_id  total_spent
0  CUST_04705     22023.90
1  CUST_00061     21478.35
2  CUST_01984     21409.05
3  CUST_00525     20211.81
4  CUST_03721     19547.20

In [5]:
pd.read_sql(
    "SELECT AVG(total_amount) AS avg_order_value FROM orders;",
    conn
)

   avg_order_value
0       983.108914

### What I practiced today
I practiced answering common SQL interview questions using basic queries
like SELECT, GROUP BY, ORDER BY, and LIMIT.