# Day 17 â€“ Project Review & Insight Documentation
## E-Commerce Customer Behavior & Sales Analysis

### Objective
Review the existing analysis performed on the e-commerce dataset
and clearly document the key insights in simple business language.

This notebook focuses on clarity, communication, and summarizing
earlier work rather than adding new analysis.

In [3]:
import pandas as pd

df = pd.read_csv("/content/ecommerce_customer_behavior_dataset.csv")
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [5]:
df["Total_Amount"].sum()

np.float64(4915544.57)

In [8]:
# Revenue by product category
category_sales = (
    df.groupby("Product_Category")["Total_Amount"]
      .sum()
      .sort_values(ascending=False)
)

category_sales

Product_Category
Electronics      2328806.81
Home & Garden     908348.86
Sports            754563.56
Fashion           375214.93
Toys              223142.48
Beauty            156584.74
Food               96138.67
Books              72744.52
Name: Total_Amount, dtype: float64

In [10]:
# Top customers by spending
top_customers = (
    df.groupby("Customer_ID")["Total_Amount"]
      .sum()
      .sort_values(ascending=False)
      .head(5)
)

top_customers

Customer_ID
CUST_04705    22023.90
CUST_00061    21478.35
CUST_01984    21409.05
CUST_00525    20211.81
CUST_03721    19547.20
Name: Total_Amount, dtype: float64

In [12]:
# Payment method usage
df["Payment_Method"].value_counts()

Payment_Method
Credit Card         2012
Debit Card          1265
Digital Wallet       965
Bank Transfer        510
Cash on Delivery     248
Name: count, dtype: int64

## Key Insights (Day 17)

- A small number of product categories generate most of the revenue.
- A few high-spending customers contribute significantly to total sales.
- Customers show clear preferences for certain payment methods.

This review confirms earlier findings and improves the readability
of the analysis for recruiters and non-technical stakeholders.