# Day 9 â€“ Data Cleaning  
## E-Commerce Customer Behavior & Sales Analysis

**Objective:**  
Clean and prepare raw e-commerce transactional data for analysis by handling missing values, duplicates, and inconsistent column formats.

**Key steps:**
- Missing value treatment
- Duplicate removal
- Column standardization
- Data validation

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [7]:
df = pd.read_csv("/content/ecommerce_customer_behavior_dataset.csv")
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [8]:
df.shape

(5000, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Date                      5000 non-null   object
 3   Age                       5000 non-null   int64
 4   Gender                    5000 non-null   object
 5   City                      5000 non-null   object
 6   Product_Category          5000 non-null   object
 7   Unit_Price                5000 non-null   float64
 8   Quantity                  5000 non-null   int64
 9   Discount_Amount           5000 non-null   float64
 10  Total_Amount              5000 non-null   float64
 11  Payment_Method            5000 non-null   object
 12  Device_Type               5000 non-null   object
 13  Session_Duration_Minutes  5000 non-null   int64
 14  Pages_Viewed              5000 non-null   int64
 15  Is_Returning_Customer     5000 non-null   bool
 16  Delivery_Time_Days        5000 non-null   int64
 17  Customer_Rating           5000 non-null   int64
dtypes: bool(1), float64(3), int64(6), object(8)
memory usage: 669.1+ KB

In [17]:
df.isnull().sum().sort_values(ascending=False)

order_id                    0
customer_id                 0
date                        0
age                         0
gender                      0
city                        0
product_category            0
unit_price                  0
quantity                    0
discount_amount             0
total_amount                0
payment_method              0
device_type                 0
session_duration_minutes    0
pages_viewed                0
is_returning_customer       0
delivery_time_days          0
customer_rating             0
dtype: int64

In [18]:
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].median())

In [19]:
df.isnull().sum()

order_id                    0
customer_id                 0
date                        0
age                         0
gender                      0
city                        0
product_category            0
unit_price                  0
quantity                    0
discount_amount             0
total_amount                0
payment_method              0
device_type                 0
session_duration_minutes    0
pages_viewed                0
is_returning_customer       0
delivery_time_days          0
customer_rating             0
dtype: int64

In [21]:
df.duplicated().sum()

np.int64(0)

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)

In [25]:
df.columns

Index(['order_id', 'customer_id', 'date', 'age', 'gender', 'city',
       'product_category', 'unit_price', 'quantity', 'discount_amount',
       'total_amount', 'payment_method', 'device_type',
       'session_duration_minutes', 'pages_viewed', 'is_returning_customer',
       'delivery_time_days', 'customer_rating'],
      dtype='object')

In [26]:
df.dtypes

order_id                     object
customer_id                  object
date                         object
age                           int64
gender                       object
city                         object
product_category             object
unit_price                  float64
quantity                      int64
discount_amount             float64
total_amount                float64
payment_method               object
device_type                  object
session_duration_minutes      int64
pages_viewed                  int64
is_returning_customer          bool
delivery_time_days            int64
customer_rating               int64
dtype: object

In [27]:
df.describe()

,age,unit_price,quantity,discount_amount,total_amount,session_duration_minutes,pages_viewed,delivery_time_days,customer_rating
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.00000,5000.000000,5000.000000
mean,35.032600,455.834120,2.220000,24.852804,983.108914,14.57340,8.98420,6.497000,3.902800
std,11.080546,712.477209,1.398711,88.385124,1898.978528,8.66575,2.80434,3.464966,1.128542
min,18.000000,5.180000,1.000000,0.000000,7.870000,1.00000,1.00000,1.000000,1.000000
25%,27.000000,76.587500,1.000000,0.000000,122.517500,8.00000,7.00000,4.000000,3.000000
50%,35.000000,182.950000,2.000000,0.000000,337.910000,13.00000,9.00000,6.000000,4.000000
75%,42.000000,513.930000,3.000000,8.760000,979.695000,19.00000,11.00000,8.000000,5.000000
max,75.000000,7159.450000,5.000000,1525.550000,22023.900000,73.00000,24.00000,25.000000,5.000000

In [28]:
df.to_csv("ecommerce_cleaned.csv", index=False)

## Data Cleaning Summary

- Handled missing values using median (numerical) and mode (categorical)
- Removed duplicate records
- Standardized column names
- Validated data types

The dataset is now clean and ready for exploratory data analysis.