In [1]:
import pandas as pd
import sqlite3

# Load data
df = pd.read_csv("/content/ecommerce_cleaned.csv")

# Create SQLite database in memory
conn = sqlite3.connect(":memory:")

# Write table
df.to_sql("orders", conn, index=False, if_exists="replace")

5000

In [2]:
pd.read_sql("SELECT COUNT(*) AS rows FROM orders;", conn)

   rows
0  5000

In [3]:
query = """
SELECT product_category,
       SUM(total_amount) AS revenue
FROM orders
GROUP BY product_category
ORDER BY revenue DESC;
"""
pd.read_sql(query, conn)

  product_category     revenue
0      Electronics  2328806.81
1    Home & Garden   908348.86
2           Sports   754563.56
3          Fashion   375214.93
4             Toys   223142.48
5           Beauty   156584.74
6             Food    96138.67
7            Books    72744.52

In [4]:
query = """
SELECT customer_id,
       SUM(total_amount) AS total_spent
FROM orders
GROUP BY customer_id
ORDER BY total_spent DESC
LIMIT 5;
"""
pd.read_sql(query, conn)

  customer_id  total_spent
0  CUST_04705     22023.90
1  CUST_00061     21478.35
2  CUST_01984     21409.05
3  CUST_00525     20211.81
4  CUST_03721     19547.20

In [5]:
query = """
SELECT AVG(total_amount) AS avg_order_value
FROM orders;
"""
pd.read_sql(query, conn)

   avg_order_value
0       983.108914

In [6]:
query = """
SELECT product_category,
       SUM(total_amount) AS revenue
FROM orders
WHERE payment_method = 'Credit Card'
GROUP BY product_category
ORDER BY revenue DESC;
"""
pd.read_sql(query, conn)

  product_category    revenue
0      Electronics  859490.54
1    Home & Garden  357058.88
2           Sports  310301.77
3          Fashion  162030.80
4             Toys   97177.25
5           Beauty   64606.06
6             Food   40088.40
7            Books   25916.68

## Key Takeaways

- SQL queries directly answer business questions.
- GROUP BY, ORDER BY, and filters are the backbone of analytics.
- Practicing SQL execution builds interview confidence.