# Day 5 – Mini Case Study: Netflix Content Analysis

# Mini Case Study: Understanding Netflix Content Trends

## Problem Statement

The goal of this analysis was to understand the composition and growth of Netflix’s content
library using publicly available data. The focus was on identifying trends in content type,
geographic production, and release patterns.

## Approach

1. Cleaned raw Netflix data to handle missing values and inconsistent text.
2. Performed exploratory data analysis to identify content trends and distributions.
3. Applied SQL-style analytical logic using pandas to answer structured business questions.
4. Translated analytical findings into business-oriented insights.

## Key Findings

- Netflix’s content library expanded rapidly after 2015.
- Movies form the majority of titles, but TV shows show steady growth.
- The United States and India are the top content-producing countries.

## Impact & Next Steps

Understanding content trends can help inform decisions around content investment,
regional expansion, and production strategy.

Further analysis could include:
- User engagement metrics (if available)
- Genre-level performance analysis
- Time-series forecasting of content growth

In [1]:
import pandas as pd

df = pd.read_csv("/content/netflix_cleaned.csv")
df.head()

,id,title,type,description,year,age_rating,runtime,genres,production_countries,seasons,imdb_id,imdb_rating,imdb_votes_count,tmdb_popularity,tmdb_score,audience_group
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,documentation,['US'],1.0,NaN,NaN,NaN,0.600,NaN,Adults
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"drama, crime",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,Adults
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"drama, action, thriller, european",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,Adults
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"fantasy, action, comedy",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811,Kids
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,Unknown,150,"war, action","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600,Unknown