In [1]:
import pandas as pd

df = pd.read_csv("ecommerce_cleaned.csv")
df.head()

,order_id,customer_id,date,age,gender,city,product_category,unit_price,quantity,discount_amount,total_amount,payment_method,device_type,session_duration_minutes,pages_viewed,is_returning_customer,delivery_time_days,customer_rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [2]:
def basic_info(df):
    print("Rows:", df.shape[0])
    print("Columns:", df.shape[1])
    print("\nMissing values:")
    print(df.isnull().sum())

basic_info(df)

Rows: 5000
Columns: 18

Missing values:
order_id                    0
customer_id                 0
date                        0
age                         0
gender                      0
city                        0
product_category            0
unit_price                  0
quantity                    0
discount_amount             0
total_amount                0
payment_method              0
device_type                 0
session_duration_minutes    0
pages_viewed                0
is_returning_customer       0
delivery_time_days          0
customer_rating             0
dtype: int64

### Day 36 Note
Today I wrote small reusable functions in Google Colab
that can later be moved into Python scripts in VS Code.