In [1]:
import pandas as pd

df = pd.read_csv("ecommerce_cleaned.csv")
df.head()

,order_id,customer_id,date,age,gender,city,product_category,unit_price,quantity,discount_amount,total_amount,payment_method,device_type,session_duration_minutes,pages_viewed,is_returning_customer,delivery_time_days,customer_rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [2]:
customer_spend = df.groupby("customer_id")["total_amount"].sum()
customer_spend

customer_id
CUST_00001     219.32
CUST_00002     332.34
CUST_00003      66.44
CUST_00004     112.65
CUST_00005     349.45
               ...
CUST_04996     129.37
CUST_04997    2660.67
CUST_04998      51.04
CUST_04999    6036.70
CUST_05000      28.10
Name: total_amount, Length: 5000, dtype: float64

In [3]:
customer_spend = customer_spend.sort_values(ascending=False)
customer_spend

customer_id
CUST_04705    22023.90
CUST_00061    21478.35
CUST_01984    21409.05
CUST_00525    20211.81
CUST_03721    19547.20
                ...
CUST_03040       10.49
CUST_01596        8.92
CUST_02939        8.33
CUST_00120        7.89
CUST_03860        7.87
Name: total_amount, Length: 5000, dtype: float64

In [4]:
top_10_customers = customer_spend.head(10)
top_10_customers

customer_id
CUST_04705    22023.90
CUST_00061    21478.35
CUST_01984    21409.05
CUST_00525    20211.81
CUST_03721    19547.20
CUST_03174    18728.68
CUST_02052    18699.75
CUST_03494    18014.55
CUST_00472    17099.30
CUST_00642    16214.20
Name: total_amount, dtype: float64

In [5]:
total_revenue = df["total_amount"].sum()
top_10_revenue = top_10_customers.sum()

percentage = (top_10_revenue / total_revenue) * 100
percentage

np.float64(3.935002261611067)

### Day 42 Notes

Calculated total spending per customer.
Identified top 10 customers by revenue.
Checked what percentage of total revenue they contribute.

Revenue is often concentrated among a small number of customers.