# Day 18 â€“ Simple Extension
## Category vs Payment Method Analysis

Objective:
Understand how payment preferences vary across top product categories.

In [2]:
import pandas as pd

df = pd.read_csv("/content/ecommerce_customer_behavior_dataset.csv")
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [4]:
top_categories = (
    df.groupby("Product_Category")["Total_Amount"]
      .sum()
      .sort_values(ascending=False)
      .head(3)
      .index
)

top_categories

Index(['Electronics', 'Home & Garden', 'Sports'], dtype='object', name='Product_Category')

In [6]:
payment_by_category = (
    df[df["Product_Category"].isin(top_categories)]
      .groupby(["Product_Category", "Payment_Method"])
      .size()
      .reset_index(name="count")
)

payment_by_category

   Product_Category    Payment_Method  count
0       Electronics     Bank Transfer     71
1       Electronics  Cash on Delivery     31
2       Electronics       Credit Card    251
3       Electronics        Debit Card    161
4       Electronics    Digital Wallet    110
5     Home & Garden     Bank Transfer     60
6     Home & Garden  Cash on Delivery     29
7     Home & Garden       Credit Card    258
8     Home & Garden        Debit Card    152
9     Home & Garden    Digital Wallet    122
10           Sports     Bank Transfer     56
11           Sports  Cash on Delivery     27
12           Sports       Credit Card    283
13           Sports        Debit Card    183
14           Sports    Digital Wallet    118

In [8]:
payment_by_category.pivot(
    index="Product_Category",
    columns="Payment_Method",
    values="count"
).fillna(0)

Payment_Method,Bank Transfer,Cash on Delivery,Credit Card,Debit Card,Digital Wallet
Product_Category,,,,,
Electronics,71,31,251,161,110
Home & Garden,60,29,258,152,122
Sports,56,27,283,183,118

## Key Insight (Day 18)

- Payment preferences differ across top product categories.
- Some categories rely more on specific payment methods.
- Understanding this helps optimize checkout options and promotions.