# Day 11 – SQL-Style Business Analysis
## E-Commerce Customer Behavior & Sales Analysis

**Objective:**  
Answer key business questions using SQL-style logic (GROUP BY, WHERE, ORDER BY, HAVING)
implemented with pandas.

In [2]:
import pandas as pd

df = pd.read_csv("/content/ecommerce_cleaned.csv")
df.head()

,order_id,customer_id,date,age,gender,city,product_category,unit_price,quantity,discount_amount,total_amount,payment_method,device_type,session_duration_minutes,pages_viewed,is_returning_customer,delivery_time_days,customer_rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [14]:
df["total_amount"].sum()

np.float64(4915544.57)

In [16]:
df.groupby("product_category")["total_amount"].sum()

product_category
Beauty            156584.74
Books              72744.52
Electronics      2328806.81
Fashion           375214.93
Food               96138.67
Home & Garden     908348.86
Sports            754563.56
Toys              223142.48
Name: total_amount, dtype: float64

In [18]:
df.groupby("product_category")["total_amount"].sum().sort_values(ascending=False)

product_category
Electronics      2328806.81
Home & Garden     908348.86
Sports            754563.56
Fashion           375214.93
Toys              223142.48
Beauty            156584.74
Food               96138.67
Books              72744.52
Name: total_amount, dtype: float64

In [20]:
df.groupby("product_category")["order_id"].count()

product_category
Beauty           621
Books            616
Electronics      624
Fashion          622
Food             619
Home & Garden    621
Sports           667
Toys             610
Name: order_id, dtype: int64

In [22]:
df.groupby("customer_id")["total_amount"].sum()

customer_id
CUST_00001     219.32
CUST_00002     332.34
CUST_00003      66.44
CUST_00004     112.65
CUST_00005     349.45
               ...
CUST_04996     129.37
CUST_04997    2660.67
CUST_04998      51.04
CUST_04999    6036.70
CUST_05000      28.10
Name: total_amount, Length: 5000, dtype: float64

In [24]:
df.groupby("customer_id")["total_amount"].sum().sort_values(ascending=False).head(5)

customer_id
CUST_04705    22023.90
CUST_00061    21478.35
CUST_01984    21409.05
CUST_00525    20211.81
CUST_03721    19547.20
Name: total_amount, dtype: float64

In [25]:
if "payment_method" in df.columns:
    df.groupby("payment_method")["order_id"].count()

## Key Observations

- Some product categories generate more revenue than others.
- A small number of customers contribute higher total revenue.
- Customer spending is not evenly distributed.
- Certain payment methods are used more frequently.