# Day 19 â€“ Validation & Data Quality Checks
## E-Commerce Customer Behavior & Sales Analysis

Objective:
Validate key results from earlier analysis and document basic data
quality checks and limitations.

In [1]:
import pandas as pd

df = pd.read_csv("/content/ecommerce_customer_behavior_dataset.csv")
df.head()

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [3]:
(df["Total_Amount"] <= 0).sum()

np.int64(0)

In [4]:
(df["quantity"] <= 0).sum() if "quantity" in df.columns else "quantity column not present"

'quantity column not present'

In [5]:
df.duplicated().sum()

np.int64(0)

In [7]:
df["Product_Category"].value_counts().head()

Product_Category
Sports           667
Electronics      624
Fashion          622
Beauty           621
Home & Garden    621
Name: count, dtype: int64

In [9]:
# Recompute revenue by category (should match earlier)
df.groupby("Product_Category")["Total_Amount"].sum().sort_values(ascending=False).head()

Product_Category
Electronics      2328806.81
Home & Garden     908348.86
Sports            754563.56
Fashion           375214.93
Toys              223142.48
Name: Total_Amount, dtype: float64

## Validation Findings & Limitations

- No significant negative or zero values found in total_amount.
- Duplicate records are minimal after earlier cleaning.
- Revenue by category aligns with earlier EDA results.
- Some categories have very few records and may not be reliable.

Limitations:
- Dataset represents a snapshot in time.
- Customer identifiers may not reflect unique real-world users.
- External factors (seasonality, promotions) are not included.