In [1]:
import pandas as pd

df = pd.read_csv("ecommerce_cleaned.csv")
df.head()

,order_id,customer_id,date,age,gender,city,product_category,unit_price,quantity,discount_amount,total_amount,payment_method,device_type,session_duration_minutes,pages_viewed,is_returning_customer,delivery_time_days,customer_rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [2]:
avg_order_value = df.groupby("product_category")["total_amount"].mean()
avg_order_value

product_category
Beauty            252.149340
Books             118.091753
Electronics      3732.062196
Fashion           603.239437
Food              155.312876
Home & Garden    1462.719581
Sports           1131.279700
Toys              365.807344
Name: total_amount, dtype: float64

In [3]:
avg_order_value = avg_order_value.sort_values(ascending=False)
avg_order_value

product_category
Electronics      3732.062196
Home & Garden    1462.719581
Sports           1131.279700
Fashion           603.239437
Toys              365.807344
Beauty            252.149340
Food              155.312876
Books             118.091753
Name: total_amount, dtype: float64

In [4]:
category_orders = df.groupby("product_category")["order_id"].count()
category_revenue = df.groupby("product_category")["total_amount"].sum()

comparison = pd.DataFrame({
    "total_orders": category_orders,
    "total_revenue": category_revenue,
    "avg_order_value": avg_order_value
})

comparison.sort_values("avg_order_value", ascending=False)

                  total_orders  total_revenue  avg_order_value
product_category
Electronics                624     2328806.81      3732.062196
Home & Garden              621      908348.86      1462.719581
Sports                     667      754563.56      1131.279700
Fashion                    622      375214.93       603.239437
Toys                       610      223142.48       365.807344
Beauty                     621      156584.74       252.149340
Food                       619       96138.67       155.312876
Books                      616       72744.52       118.091753

### Day 41 Notes

Calculated average order value (AOV) per product category.
Compared order volume, total revenue, and AOV.

High revenue does not always mean high average order value.