In [1]:
import pandas as pd

df = pd.read_csv("ecommerce_cleaned.csv")
df.head()

,order_id,customer_id,date,age,gender,city,product_category,unit_price,quantity,discount_amount,total_amount,payment_method,device_type,session_duration_minutes,pages_viewed,is_returning_customer,delivery_time_days,customer_rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

In [2]:
category_orders = df.groupby("product_category")["order_id"].count()
category_orders

product_category
Beauty           621
Books            616
Electronics      624
Fashion          622
Food             619
Home & Garden    621
Sports           667
Toys             610
Name: order_id, dtype: int64

In [3]:
category_orders = category_orders.sort_values(ascending=False)
category_orders

product_category
Sports           667
Electronics      624
Fashion          622
Beauty           621
Home & Garden    621
Food             619
Books            616
Toys             610
Name: order_id, dtype: int64

In [4]:
category_revenue = df.groupby("product_category")["total_amount"].sum()

comparison = pd.DataFrame({
    "total_orders": category_orders,
    "total_revenue": category_revenue
})

comparison.sort_values("total_orders", ascending=False)

                  total_orders  total_revenue
product_category
Sports                     667      754563.56
Electronics                624     2328806.81
Fashion                    622      375214.93
Beauty                     621      156584.74
Home & Garden              621      908348.86
Food                       619       96138.67
Books                      616       72744.52
Toys                       610      223142.48

### Day 40 Notes

Calculated total number of orders per product category.
Compared order volume with revenue.

Order volume and revenue are not always the same.